*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}

.row{
    gap: 20px;
}

.card{
    width: calc(100% / 2 - 20px);
}


.card-body{
    background-color: salmon;
}